@{
    ViewBag.Title = "About";
}
<h2>Sobre la aplicación</h2>
<h3>Aplicacion realizada por:</h3>

<label>Osvaldo Hernandez (gameleds@gmail.com)</label>

<h3>Tecnologias usadas</h3>
<ul>
    <li>ASP MVC 4</li>
    <li>SQL EXPRESS 2014</li>
    <li>AngularJS</li>
</ul>
