<div class="container" ng-controller="homeCtrl" ng-init="initDev()"><br />
    <ul class="list-group" ng-repeat="r_developer in s_developer">
        <li class="list-group-item active"><strong>Developer :</strong>  {{r_developer.ID}}</li>
        <li class="list-group-item"><strong>First Name :</strong> {{r_developer.FirstName}}</li>
        <li class="list-group-item"><strong>Last Name :</strong>  {{r_developer.LastName}}</li>
        <li class="list-group-item"><strong>Age :</strong> {{r_developer.Age}}</li>
    </ul>
</div>