@model prueba_1.Models.EmployeeViewModel

@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="homeCtrl">
    <h1>CRUD agenda programadores HECNT</h1><hr />
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>:D</th>
        </thead>
        <tbody>
            <tr ng-repeat="r_person in dataInit">
                <td>{{r_person.ID}}</td>
                <td>{{r_person.FirstName}}</td>
                <td>{{r_person.LastName}}</td>
                <td>{{r_person.Age}}</td>
                <td>
                    <button class="btn btn-info" ng-click="btnEdit(r_person)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
